<!--begin::Widget 11-->
<div class="m-widget11">
  <div class="table-responsive">
    <!--begin::Table-->
    <table class="table">
      <!--begin::Thead-->
      <thead>
        <tr>
          <td class="m-widget11__app">
            MLS Number
          </td>

          <td class="m-widget11__app">
            Address
          </td>

          <td class="m-widget11__app">
            Inspector
          </td>

          <td class="m-widget11__app">
            Seller
          </td>

          <td class="m-widget11__app">
            Sales
          </td>

          <td class="m-widget11__total m--align-right">
            Actions
          </td>
        </tr>
      </thead>
      <!--end::Thead-->
      <!--begin::Tbody-->
      <tbody>
        <tr>
          <td class="m-widget11__app">
            1234567
          </td>

          <td class="m-widget11__app">
            1018 23rd Ave E
          </td>

          <td class="m-widget11__app">
            Samuel Chien
          </td>

          <td class="m-widget11__app">
            John Doe
          </td>

          <td class="m-widget11__app">
            5
          </td>

          <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">                        <div class="dropdown ">                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">                                <i class="la la-ellipsis-h"></i>                            </a>                            <div class="dropdown-menu dropdown-menu-right">                                <a class="dropdown-item" href="#"><i class="la la-edit"></i>Rate Report</a>                                                              <a class="dropdown-item" href="#"><i class="la la-print"></i>Download Report</a>                            </div>                        </div>                                       </span></td>
        </tr>
        <tr>
          <td class="m-widget11__app">
            2222234
          </td>

          <td class="m-widget11__app">
            2110 W Ruffner St.
          </td>

          <td class="m-widget11__app">
            Johnny Chien
          </td>

          <td class="m-widget11__app">
            John Doe
          </td>

          <td class="m-widget11__app">
            3
          </td>

          <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">                        <div class="dropdown ">                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">                                <i class="la la-ellipsis-h"></i>                            </a>                            <div class="dropdown-menu dropdown-menu-right">                                <a class="dropdown-item" href="#"><i class="la la-edit"></i>Rate Report</a>                                                              <a class="dropdown-item" href="#"><i class="la la-print"></i>Download Report</a>                            </div>                        </div>                                       </span></td>
        </tr>
        <tr>
          <td class="m-widget11__app">
            2253234
          </td>

          <td class="m-widget11__app">
            2112 W Ruffner St.
          </td>

          <td class="m-widget11__app">
            Steve Job
          </td>

          <td class="m-widget11__app">
            John Doe
          </td>

          <td class="m-widget11__app">
            4
          </td>

          <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">                        <div class="dropdown ">                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">                                <i class="la la-ellipsis-h"></i>                            </a>                            <div class="dropdown-menu dropdown-menu-right">                                <a class="dropdown-item" href="#"><i class="la la-edit"></i>Rate Report</a>                                                              <a class="dropdown-item" href="#"><i class="la la-print"></i>Download Report</a>                            </div>                        </div>                                       </span></td>
        </tr>
        <tr>
          <td class="m-widget11__app">
            2303432
          </td>

          <td class="m-widget11__app">
            2000 Aurora St.
          </td>

          <td class="m-widget11__app">
            Steve Baumer
          </td>

          <td class="m-widget11__app">
            Allie Sahi
          </td>

          <td class="m-widget11__app">
            5
          </td>

          <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">                        <div class="dropdown ">                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">                                <i class="la la-ellipsis-h"></i>                            </a>                            <div class="dropdown-menu dropdown-menu-right">                                <a class="dropdown-item" href="#"><i class="la la-edit"></i>Rate Report</a>                                                              <a class="dropdown-item" href="#"><i class="la la-print"></i>Download Report</a>                            </div>                        </div>                                       </span></td>
        </tr>
        <tr>
          <td class="m-widget11__app">
            1939402
          </td>

          <td class="m-widget11__app">
            1 Infinite Loop
          </td>

          <td class="m-widget11__app">
            Tim Cook
          </td>

          <td class="m-widget11__app">
            Harry Potter
          </td>

          <td class="m-widget11__app">
            9
          </td>

          <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">                        <div class="dropdown ">                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">                                <i class="la la-ellipsis-h"></i>                            </a>                            <div class="dropdown-menu dropdown-menu-right">                                <a class="dropdown-item" href="#"><i class="la la-edit"></i>Rate Report</a>                                                              <a class="dropdown-item" href="#"><i class="la la-print"></i>Download Report</a>                            </div>                        </div>                                       </span></td>

        </tr>
      </tbody>
      <!--end::Tbody-->
    </table>
    <!--end::Table-->
  </div>
  <div class="m-widget11__action m--align-right">
    <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--hover-brand">
      Buy Another
    </button>
  </div>
</div>
<!--end::Widget 11-->