<!--begin:: Widgets/Application Sales-->
<div class="m-portlet m-portlet--full-height ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget11_tab2_content" role="tab">
            Sell
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget11_tab1_content" role="tab">
            Buy
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget11_tab3_content" role="tab">
            Schedule
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="tab-content">
      <div class="tab-pane" id="m_widget11_tab1_content">
        <% include _buyerTable %>
      </div>
      <div class="tab-pane active" id="m_widget11_tab2_content">
        <% include _sellerTable %>
      </div>
      <div class="tab-pane" id="m_widget11_tab3_content">
        <% include _scheduleTable %>
      </div>
    </div>
    <% include _uploadReportModal %>
  </div>
</div>
<!--end:: Widgets/Application Sales-->