  <!--begin:: Widgets/Latest Updates-->
  <div class="m-portlet m-portlet--full-height m-portlet--fit ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Sales Summary
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 350px">
        <div class="m-widget4__item">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-interface-3"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Balance
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__number m--font-accent">
              $320
            </span>
          </div>
        </div>
        <div class="m-widget4__item">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-folder-4"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Purchase Report
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__stats m--font-info">
              <span class="m-widget4__number m--font-accent">
                5
              </span>
            </span>
          </div>
        </div>
        <div class="m-widget4__item">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-line-graph"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Sold Reports
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__stats m--font-info">
              <span class="m-widget4__number m--font-accent">
                9
              </span>
            </span>
          </div>
        </div>
        <div class="m-widget4__item m-widget4__item--last">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-diagram"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Cumulative Income
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__stats m--font-info">
              <span class="m-widget4__number m--font-accent">
                $630
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--end:: Widgets/Latest Updates-->