<!--begin::Widget 11-->
<div class="m-widget11">
  <div class="table-responsive">
    <!--begin::Table-->
    <table class="table">
      <!--begin::Thead-->
      <thead>
        <tr>
          <td class="m-widget11__app">
            MLS Number
          </td>

          <td class="m-widget11__app">
            Address
          </td>

          <td class="m-widget11__app">
            Sales
          </td>
          <td class="m-widget11__app">
            Total
          </td>
          <td class="m-widget11__total m--align-right">
            Actions
          </td>
        </tr>
      </thead>
      <!--end::Thead-->
      <!--begin::Tbody-->
      <tbody>
        <tr>
          <td class="m-widget11__app">
            1939402
          </td>

          <td class="m-widget11__app">
            1 Infinite Loop
          </td>

          <td class="m-widget11__app">
            9
          </td>
          <td class="m-widget11__app">
            $630
          </td>
          <td data-field="Actions" class="m-widget11__total m--align-right"><span style="overflow: visible; width: 110px;">                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">                            <i class="la la-edit"></i>                        </a>                                            </span></td>
        </tr>
      </tbody>
      <!--end::Tbody-->
    </table>
    <!--end::Table-->
  </div>
  <div class="m-widget11__action m--align-right">
    <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--hover-brand">
      Upload Report
    </button>
  </div>
</div>
<!--end::Widget 11-->