<head>

    <!-- Basic page needs
    ============================================ -->
    <title>MangoInspect - Home</title>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="/plugins/owl.carousel/owl.carousel.css">
    <link rel="stylesheet" href="/plugins/Magnific-Popup-master/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/stripeBase.css" data-rel-css="" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stripeCustom.css" data-rel-css="" />

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="images/x-icon" href="favicon.ico">

    <!-- Theme CSS
    ============================================ -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Media Queries CSS
    ============================================ -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">


    <!-- Include Libs & Plugins
    ============================================ -->
    <script src="/javascripts/modernizr-custom.js"></script>


</head>