<section id="searchResult" class="section align_center section_offset bg_grey">

    <div class="container">

        <div class="section_offset2">

            <div id="reportDisplayDiv" class="row">

            </div>

        </div>

    </div>

</section>