<!-- - - - - - - - - - - - - - First Screen - - - - - - - - - - - - - - - - -->
<section id="section1" class="section first_screen">

    <div class="main_slider flexslider">

        <ul class="slides">

            <li>

                <div class="slide_img_bg">
                    <img src="/images/second_screen_bg.jpg" alt="" />
                </div>

                <div class="first_screen_inner">

                    <div class="container">

                        <p class="first_screen_subtitle animate_el tr_top delay_1">Mango Inspect</p>

                        <div class="ui-widget">
                            <input id="searchBar" type="text" name="search" placeholder="Search MLS Number"">
                        </div>
                    </div>

                </div>

            </li>

        </ul>

    </div>

</section>

<!-- - - - - - - - - - - - - - End of First Screen - - - - - - - - - - - - - - - - -->