<!-- - - - - - - - - - - - - - First Screen - - - - - - - - - - - - - - - - -->
<section id="section1" class="section first_screen">

    <div class="main_slider flexslider">

        <ul class="slides">

            <li>

                <div class="slide_img_bg">
                    <img src="/images/second_screen_bg.jpg" alt="" />
                </div>

                <div class="first_screen_inner">

                    <div class="container">

                        <div id="mainLogo" class="logo">
                            <a href="/"><img src="images/logo.png" alt=""></a>
                        </div>

                        <div class="tooltip">
                            <input id="searchBar" type="text" name="search" placeholder="Buy Report">
                            <span class="tooltiptext">Address or MLS</span>
                        </div>

                        <a id="sellMyReportBtn" href="#" class="btn_type1" id="report-on-the-go-button"><span>Sell My Report</span></a>

                        <br>

                        <a id="feedbackBtn" href="#" class="btn_type1" id="report-on-the-go-button"><span>Feedback</span></a>
                    </div>

                </div>

            </li>

        </ul>

    </div>

</section>

<!-- - - - - - - - - - - - - - End of First Screen - - - - - - - - - - - - - - - - -->