<div class="section_offset bg_grey">

    <div class="container">

        <div class="features">

            <div class="row">

                <div class="col-sm-4">

                    <h3 class="features_title">Big Saving</h3>

                    <p>Big discount on the inspection report since we are able to sell one report to multiple customers. The cost of the report is reduced due to selling in bulks.</p>

                </div>

                <div class="col-sm-4">

                    <h3 class="features_title">Trust Worthy Report</h3>

                    <p>Seller has incentive to increase their rating, thus it will be one of their focus to deliver the best inspection report possible. </p>

                </div>

                <div class="col-sm-4">

                    <h3 class="features_title">Responsive service</h3>

                    <p>We understand that buying a house is a stressful experience so we are always here to help. Please do not hesitate to call us at 206-972-2280</p>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- <hr class="divider"> -->

<!-- - - - - - - - - - - - - - Beautiful Kitchen- - - - - - - - - - - - - - - - -->

<section id="section2" class="section_vertical">

    <div class="section_vertical_text" data-appear-top-offset="-200" data-animated="fadeInLeft">

        <i class="icon Evatheme-Icon-Fonts-thin-0877_salt_pepper_spices"></i>

        <h2>Report On the Go</h2>

        <p class="subtitle">
            Instantly order or book your report and allowing yourself to make the right decision at the negotiation table.
        </p>

        <a href="/dashboard" class="btn_type1"><span>Sign Up Now</span></a>


    </div>

    <div class="section_vertical_img" data-appear-top-offset="-200" data-animated="fadeInRight">

        <img src="/images/section_vertical_img.png" alt="" />

    </div>

</section>

<!-- - - - - - - - - - - - - - End of Beautiful Kitchen - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - Get a Discount of 20% - - - - - - - - - - - - -->

<section class="blackout bg1">

    <div class="container">

        <h2>Start Earning Today</h2>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="align_center">
                    <p class="subtitle">You can earn money by upload your inspection report</p>

                    <a href="/dashboard" class="btn_type1"><span>Upload Now</span></a>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- - - - - - - - - - - - - - End Get a Discount of 20% - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Our Clients Say - - - - - - - - - - - - - - - - -->

<section id="section3" class="section section_offset bg_grey">

    <div class="container">

        <h2>Our Clients Say</h2>

        <div class="reviews_slider owl-carousel">

            <blockquote class="review">

                <div class="review_info">
                    <span class="review_name">Tzu Yao Chien,</span>
                    <span class="post_name">Real Estate Investor</span>
                </div>

                <p>Very intuitive platform that minimize the friction to obtain the inspection report.</p>

            </blockquote>

            <blockquote class="review">

                <div class="review_info">
                    <span class="review_name">Salik Warsi</span>
                    <span class="post_name">Home Buyer</span>
                </div>

                <p>This platform really saves me with their instant report purchase. I was able to make an offer in without compromising the risk of not knowing the condition of the house.</p>

            </blockquote>

        </div>

    </div>

</section>

<!-- - - - - - - - - - - - - - End of Our Clients Say - - - - - - - - - - - - - - - - -->



<section class="blackout2 bg2">

    <div class="container">

        <div class="align_center mb10">
            <p class="subtitle">
                Purchase instant report, schedule inspection, and sell your inspection report.
            </p>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="align_center">
                    <a href="/dashboard" class="btn_type1"><span>Sign Up Now</span></a>
                </div>

            </div>

        </div>

    </div>

</section>

<!-- - - - - - - - - - - - - - End of Facts Box - - - - - - - - - - - - - - - - -->