<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

<header id="header">

    <div class="container">

        <div class="header_inner claerfix">

            <!-- - - - - - - - - - - - - - Main Navigation - - - - - - - - - - - - - - - - -->

            <nav>

                <button class="nav_btn"><i class="fa fa-bars"></i></button>

                <ul class="navigation clearfix">
                    <li><a id="loginNavBtn" href="#">Login</a></li>
                    <li><a href="#">206-972-2280</a></li>
                </ul>

            </nav>

            <!-- - - - - - - - - - - - - - End of Main Navigation - - - - - - - - - - - - - - - - -->

        </div>

    </div>

</header>

<!-- - - - - - - - - - - - - - End of Header - - - - - - - - - - - - - - - - -->