<!DOCTYPE html>
<html lang="en">
    <% include _htmlHead %>
    <body>
        <% include _topBar %>
        <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
        <main id="content">
            <% include _search %>
            <% include _reportList %>
            <% include _payment %>
            <% include _staticDetail %>
        </main>
        <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->
        <% include _htmlFoot %>
    </body>
</html>