#scheduleButton {
    background: #716aca;
    border-color:#716aca;
    color:#fff;
}

#reportSearch {
    background: #716aca;
    border-color:#716aca;
    color:#fff;
}

#uploadReportBtn {
    background: #716aca;
    border-color:#716aca;
    color:#fff;
}

.btn.m-btn.m-btn--hover-accent.m-btn--icon.m-btn--icon-only.m-btn--pill.actionBtn{
	background: #716aca;
    border-color:#716aca;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}

.m-grid__item.m-header {
    z-index: 5; 
}